Source: sjconf-libvirt
Priority: optional
Section: admin
Maintainer: Nicolas Delvaux <nicolas.delvaux@smartjog.com>
Uploaders: Julien Mori <julien.mori@arkena.com>
Build-Depends: debhelper (>= 8),
               python-all (>= 2.6.6-3~),
               txt2tags
Standards-Version: 3.9.6

Package: sjconf-libvirt
Architecture: all
Pre-Depends: sjconf1 (>= 1.13.0)
Depends: ${python:Depends},
         ${misc:Depends},
	 libvirt-bin (>= 0.8)
Description: sjconf plugin for libvirt
 This package provides a plugin to manage libvirt using sjconf.
